.course {
  background-color: #ffff;
  height: 100vh;
}

.course_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91vh;
  padding: 0px 20px;
}

.course_line {
  border-bottom: 1px solid #eeeeee;
}

.container:first-child {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}   

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9.15px 0;
}

.hero_heading {
  font-size: 25px;
  font-weight: 700;
  cursor: default;
}

.hero_right {
  display: flex;
  align-items: center;
}

.hero_icon_border {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero_icon_border:not(:last-child) {
  margin-right: 10px;
}

.hero_btn {
  margin-left: 20px;
  padding: 0px 10px;
}

.table_radius {
  margin: 30px 0px;
  border-radius: 10px;
  border: 1px solid #dad8d8;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table tr {
  width: 100%;
  text-align: left;
  padding: 15px 0px;
  border-bottom: 1px solid #dad8d8;
}

.table th {
  padding: 12px;
}

.table td {
  padding: 12px;
}


// MODAL FORM STYLE
.form_picture_section {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.picture_title {
  max-width: 150px;
  width: 100%;
  font-weight: 500;
  color: #525252;
}

.picture_img {
  margin-left: 20px;
}

.form_input_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_input_section:not(:last-child) {
  margin-bottom: 16px;
}

.form_label {
  max-width: 150px;
  width: 100%;
  font-weight: 500;
}

.form_input {
  margin-left: 20px;
  width: 400px;
}

.date-span {
  width: 24px;
  height: 24px;
}