.course {
       background-color: #ffff;       
       height: 85vh;
}

.course_line {
       // border-bottom: 1px solid #eeeeee;
}
     
.dashboard_line {
       padding: 16px 0;
       border-bottom: 1px solid #eeeeee;
}
     
.container:first-child {
       margin: 0 auto;
       max-width: 1500px;
       width: 100%;
}   
     
.hero {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 9.15px 0;
}
     
.hero_heading {
       font-size: 25px;
       font-weight: 700;
       cursor: default;
}
     
.hero_right {
       display: flex;
       align-items: center;
}
     
.hero_icon_border {
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
}
     
.hero_icon_border:not(:last-child) {
       margin-right: 10px;
}
     
.hero_btn {
       margin-left: 20px;
       padding: 0px 10px;
}

// CUSTOM MODAL
.form_input_section {
       display: flex;
       align-items: center;
       justify-content: space-between;
}
     

.form_input_section:not(:last-child) {
       margin-bottom: 24px;
}

.form_input {
       width: 400px;
}

.outlet_center {
       max-height: 100vh;
       height: 100%;
}