.header {
       padding: 20px 0px;
       width: 100%;
}

.container {
       margin: 0 auto;
       padding: 0 20px;
       max-width: 1540px;
       width: 100%;
}

.hero {
       display: flex;
       align-items: center;
       justify-content: space-between;
}

.admin_header_heading {
       font-size: 25px;
       font-weight: 700;
}

.hero_icon {
       display: flex;
       align-items: center;
}

.header_span {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 10px;
       cursor: pointer;
       border: 1px solid #86848c;
       border-radius: 8px;
}

.header_span:not(:last-child) {
       margin-right: 20px;
}