.register {
       display: flex;
       align-items: center;
       justify-content: space-between;
       height: 100vh;
       margin: 0 auto;
       background-color: #f5f3f3;
}

.auth_left {
       margin-left: auto;
}

.left_section {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-right: 30px;
}

.auth_left_heading {
       margin-bottom: 40px;
       color: #5fa8fb;
}

.aut_right {
       position: relative;
       background-color: #fff;
       width: 50%;   
       height: 100vh;
       border-radius: 50px 0px 0px 50px;
}

.auth_right_section {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0;
       position: absolute;
       top: 50%;
       -ms-transform: translateY(-50%);
       transform: translateY(-50%);
       padding:  0px 64px;
       max-width: 720px;
       width: 100%;
}

.form {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       max-width: 720px;
       width: 100%;
}

.form_box {
       display: flex;
       flex-direction: column;
       align-items: center;
       max-width: 720px;
       width: 100%;
}

.input_box {
       max-width: 720px;
       width: 100%;
}

.auth_btn {
       max-width: 720px;
       width: 100%;
}

.errors {
       font-weight: 500;
       color: red;
}

.verify_heading {
       text-align: left;
       font-size: 30px;
       font-weight: 700;
}


.list {
       display: flex;
       align-items: center;
       list-style: none;
       position: relative;
       margin: 0;
       margin-top: 40px;
       margin-bottom: 24px;
       padding: 0;
}

.item_one {
       padding: 13.5px 1.1px;
       background-color: #fff;
       border: 2px solid rgb(38, 38, 233);
       border-radius: 50%;
}

.item_one::after {
       content: "";
       width: 250px;
       height: 4px;
       position: absolute;
       top: 50%;
       left: 10%;
       transform: translateY(-50%);
       background: rgb(38, 38, 233);
       border-radius: 5px;
}

.item_two {
       margin-left: 500px;
       padding: 13.5px 1.1px;
       background-color: #fff;
       border: 2px solid rgb(38, 38, 233);
       border-radius: 50%;
}

.item_two::before {
       content: "";
       width: 250px;
       height: 4px;
       position: absolute;
       top: 50%;
       right: 10%;
       transform: translateY(-50%);
       background: rgb(38, 38, 233);
       border-radius: 5px;
}

.item_span {
       padding: 13px 19px;
       color: #fff;
       background-color: rgb(38, 38, 233);
       border-radius: 50%;
}

.label {
       font-weight: 500;
}