.register {
       display: flex;
       align-items: center;
       justify-content: space-between;
       height: 100vh;
       margin: 0 auto;
       background-color: #f5f3f3;
}

.auth_left {
       margin-left: auto;
}

.left_section {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-right: 30px;
}

.auth_left_heading {
       margin-bottom: 40px;
       color: #5fa8fb;
}

.aut_right {
       position: relative;
       background-color: #fff;
       width: 50%;   
       height: 100vh;
       border-radius: 50px 0px 0px 50px;
}

.auth_right_section {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0;
       position: absolute;
       top: 50%;
       -ms-transform: translateY(-50%);
       transform: translateY(-50%);
       padding:  0px 64px;
       max-width: 720px;
       width: 100%;
}

.form {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
}

.form_box {
       display: flex;
       flex-direction: column;
       align-items: center;
       max-width: 720px;
       width: 100%;
}

.input_box {
       max-width: 720px;
       width: 100%;
}

.auth_btn {
       max-width: 720px;
       width: 100%;
}

.result_password {
       font-weight: 500;
       color: red;
}

.label {
       font-weight: 500;
}

.star {
       color: red;
}