.student_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}

.table_radius {
       margin-top: 30px;
       border: 1px solid #dad8d8;
       border-radius: 10px;
     }
     
     .table table {
       width: 100%;
       border-collapse: collapse;
       border-spacing: 0;
     }
     
     
     .table tr {
       text-align: left;
       padding: 15px;
       border-bottom: 1px solid #dad8d8;
     }
     
     .table th {
       padding: 12px;
     }
     
     .table td {
       padding: 12px;
     }
     