.header {
       padding: 20px 0px;
       width: 100%;
}

.container {
       margin: 0 auto;
       padding: 0 20px;
       max-width: 1540px;
       width: 100%;
}

.hero {
       display: flex;
       align-items: center;
       justify-content: flex-end;
}

.hero_icon {
       display: flex;
       align-items: center;
}