.course_parent {
       display: flex;
       justify-content: flex-start;
       background-color: #fff;
}

.container {
       margin-left: 30px;
       padding: 0 20px;
       max-width: 1340px;
       width: 100%;
}

.hero {
       padding: 32px;
       background-color: #403EF5;
       border-radius: 20px;
}

.hero_heading {
       margin-bottom: 4px;
       font-size: 25px;
       font-weight: 500;
       max-width: 820px;
       width: 100%;
       color: #fff;
}

.hero_desc {
       color: #fff;
}

.hero_btn {
       margin-top: 42px;
       color: #403EF5;
}
