.aside {
       display: flex;
       flex-direction: column;
       /* justify-content: space-between; */
       height: 100vh;
       min-width: 300px;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       border-right: 0.1px solid #eeeeee;
   }

#close_btn {
       display: none;
   }

   .sidebar {
    margin: 0;
    margin-top: 20px;
    padding: 0px 10px;
    list-style: none;
   }

   .sidebar_link {
       display: flex;
       align-items: center;
       gap: 1.2rem;
       height: 4.2rem;
       color: #86848c;
       position: relative;
   }

   .sidebar_span {
       font-size: 1.7rem;
       margin-left: 3rem;
       transition: all 300ms ease;
   }

    // .sidebar_link:hover {
    //     color: #4949f8;
    // }

    .sidebar_link:hover .sidebar_span {
        margin-left: 2rem;
    }

    .active .sidebar_span {
        margin-left: 2rem;
    }



   .sideber_title {
       font-weight: 500;
   }

   .hero_section {
    padding: 10px 0px;
    border-bottom: 1px solid #eeeeee;
   }

   .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 55px;
    max-width: 200px;
    width: 100%;
   }

   .site_heading {
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.down {
    margin-top: auto;
    padding: 20px 0px;
    border-top: 1px solid #c2c2c2;
}

.down_section {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left: 30px;
    max-width: 200px;
    width: 100%;
}

.admin_img {
    width: 40px;
    height: 40px;
}

.admin_picture {
    border-radius: 50%;
}

.admin_picture::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    background: #ff4800;
    border: 2px solid #fff;
}

.name_section {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.user_name {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.user_email {
    font-size: 14px;
}