.pagination {
       display: flex;
       align-items: center;
       justify-content: flex-end;
       margin: 0;
       margin-left: auto;
       padding: 0;
       list-style: none;
}

.page_item:not(:first-child) {
       margin-left: 10px;
}

.page_link {
       padding: 10px 16px;
       border: 1px solid #4949f8;
       border-radius: 10px;
       color: #4949f8;
}