
.course_list {
       display: flex;
       align-items: center;
       margin: 0;
       padding: 0;
       list-style: none;
}

.course_item:not(:first-child) {
       margin-left: 20px;
}

.course_navlink {
       padding: 8px 20px;
       color: #6e8bb7;
       font-weight: 500;
       font-size: 16px;
}
