@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.verify_icon {
  color: rgb(180, 179, 179);
}

.icon-span {
  padding: 4px;
  color: #6e8bb7;
  border: 1px solid #e5e9eb;
  border-radius: 6px;
}

.hamburger {
  padding: 3px;
  color: #4949f8;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background: #4949f8;
  color: #ffff;
  border-radius: 10px;
}

.tablespan {
  margin-left: auto;
  border-left: 1px solid #e5e9eb;
 }

 .rc-table-cell:last-child {
  width: 100px;
 }

 .edit-btn {
  color: #6161ff;
 }

.header_icons {
  cursor: pointer;
  color:#86848c;
}

.header_icons:not(:first-child) {
  margin-left: 17px;
}

.admin_header_icons {
  color:#6e8bb7;
}